form{
    border: 1px solid black;
    width: 700px;
    padding: 40px;
    height: 400px;
    border-radius: 10px;
}
#show-contact{
    display: none;
}
.contact:hover {
    text-decoration: underline;
  }  